.waiting-view {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;

    h1 {
        margin: 0;
    }

    .canvas-container {
        width: 100%;
    }

    .guess-box {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;

        .input-container {
            display: flex;
            flex-direction: column;
        }

        .button {
            margin: 0;
        }
    }

    .submit-buttons {
        display: flex;
    }

    .message {
        font-weight: 700;
        font-size: 18px;
        color: #7FFF00;
    }

    .error {
        color: red;
    }
}

@media (max-width: 40rem) {
    .waiting-view {

        .guess-box {
            flex-direction: column;
            align-items: center;

            .input-container {
                width: 100%;
                margin-bottom: 8px;
            }

            .button {
                width: 80%;
            }
        }

        .submit-buttons {
            flex-direction: column;
            width: 80%;
        }
    }
}