.canvas {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .canvas-drawing {
        width: 400px;
        height: 400px;
    }

    @media (max-width: 40rem) {
        height: 80%;
        width: 100%;
        margin: 0 0 50px;
    }
}